.sidebar {
   display: flex;
    position: fixed;
    left: 30px;
    top: 73px;
    max-width: 200px;
    height: 100%;
    margin-top: 50px;
}

.filters{
    position: relative;
    top: 47px;
}

.list-group-item:hover{
    opacity: 0.6;
    cursor:pointer;
}