<div class="sidebar fixed-top">
    <div class="filters">
        <div class="form">
            <div class="form-check">
                <input class="form-check-input" type="radio" value="all" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioChanged()">
                <label class="form-check-label" for="flexCheckDefault">
                  {{ 'All Product - ' + all}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="novels" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioChanged()">
                <label class="form-check-label" for="flexCheckDefault">
                  {{ 'Romanzi - ' + novels}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="manga" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioChanged()">
                <label class="form-check-label" for="flexCheckDefault">
                  {{ 'Manga - ' + manga}}
                </label>
            </div>
        </div>
    </div>
</div>
