<div class="sidebar"> 
    <div class="filters"> 
        <div class="form-search">
            <div class="container-fluid"> 
                <form class="d-flex">
                    <input class="searchbar form-control me-2 shadow-none " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn shadow-none " type="submit"> <i class="bi bi-search"></i></button>
                </form>
            </div> 
        </div>
        <div class="section"> 
            <ul> 
                <li> ciao</li>
                <li> ciado</li>
                <li> ciao</li>
            </ul>
        </div>
    </div>
</div>

