.sidebar {
    position: fixed;
    left: 10px;
    top: 125px;
}

.form-search{
    position: relative;
    top: 45px;
    max-width: 350px;
}

.btn{
    border: 0;
}

.btn:hover{
    opacity: 0.6;
}

.form{
    position: relative;
    top: 80px;
    left: 10px;
}

.list-group-item:hover{
    opacity: 0.6;
    cursor:pointer;
}