<div class="sidebar"> 
    <div class="filters"> 
        <div class="form-search">
            <div class="container-fluid"> 
                <form class="d-flex">
                    <input class="searchbar form-control me-2 shadow-none " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn shadow-none " type="submit"> <i class="bi bi-search"></i></button>
                </form>
            </div> 
        </div>
        <div class="section"> 
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Section 1</li>
                <li class="list-group-item">Secrtion 2</li>
                <li class="list-group-item">Section 3</li>
              </ul>
        </div>
    </div>
</div>

