.main{
    position: relative;
    height: 100%;
    top: 171px;
    left: 400px;
    width: calc(100% - 450px);
}

.container{
    position: relative;
    left: 10px;
}

.item{
    background-color: rgb(143, 143, 143);
}

.col-4{
    border: 2px;
}
