<div class="container-fluid">
    <div class="filter">
        <app-filters [all]="getAllProduct()" [product1]="getProduct1()" [product2]="getProduct2()"
            (filterRadioChanged)="onFilterRadioChanged($event)">
        </app-filters>
    </div>
    <div class="products container justify-content-end">
        <div class="row align-self-center">
            <div class="row g-4 ">
                <ng-container *ngFor="let item of items" #valueP>
                    <div class="col-md-3" *ngIf="productFilters === 'all' || productFilters === item.type">
                        <div class="item">
                            <div class="card">
                                <div class="d-flex justify-content-center">
                                    <img [src]="item.img" class="img rounded-top">
                                </div>
                                <div class="card-body">
                                    <div class="details-item">
                                        <h3 class="details d-flex justify-content-start"> {{item.name}} </h3>
                                        <span>
                                             di <h6 class="list-inline-item">Autore</h6>
                                        </span>
                                        <h5 class="details"> {{ item.price + "€"}} </h5>
                                    </div>
                                    <div class="buttons container">
                                        <div class="row justify-content-between">
                                            <button class="btn btn-add col-5" type="button" (click)="addToCart(item)" [appBackgroundHover]="'#80c5f7'"> Buy </button>
                                            <button class="btn btn-show shadow-none col-5" type="button"> Show </button>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

